.formSection{
    width: 100%;
    height: 70rem;
    background: white;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    p{
        color: black;
        background: inherit;
        margin-top: 1rem;
        font-size: 1.2rem;
        text-align: center;
    }
    h1{
        background: inherit;
        margin-bottom: 2rem;
    }

    @media(max-width:720px){
        h1 {
            font-size: 1.5rem;
        }
    }


}

.formSectionSubmited{
    background: white;
    width: 100%;
    height: 5rem;
}

.checkBox{
    background: inherit;


    width: 16px;
    height: 16px;
    margin-top: 1rem;
    

}

.textInput{
    color: black;
    background: white;
    border: 1px solid rgb(148, 148, 148);
    border-radius: 10px;
    width: 20%;
    height: 4%;
    margin-top: 1rem;

    padding: 1rem;
    font-size: 1rem;

    @media(max-width:720px){
        width: 80%;
    }
}

.checkboxContainer{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 5%;
    background: inherit;

    p{
        margin-left: 1rem;
    }

    @media(max-width:720px){
        width: 25%;
    }
}

.submitButton{
    width: 14%;
    height: 5%;
    margin-top: 2rem;
    background:#8257e5;  
    border-radius: 16px;
    box-shadow: 0 0 1em #8257e5;  
    cursor: pointer;
    color: white;
    font-size: 1rem;

    @media(max-width: 720px){
        width: 70%;
    }

}

.done{
    text-align: center;
    background: white;

    p{
        background: white;
        font-size: 1.5rem;
        margin-bottom: 2rem;
    }
}